<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Righteous&display=swap" rel="stylesheet">
<h2 class="title">Sign up</h2>
<style>
  body{
    background-image: url(<%= image_path("background.jpg")%>);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="container">
    <div class="row">
      <div class="col-4 offset-4">
        <div class='card'>
          <div class='card-body'>

            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-floating">
              <%= f.email_field :email, class: 'form-control', placeholder: 'your-name@gmail.com' %>
              <%= f.label :email %><br />
            </div>

            <div class="form-floating">
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Password' %>
              <%= f.label :password %><br />
            </div>

            <div class="form-floating">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirmation Password' %>
              <%= f.label :password_confirmation %><br />
            </div>

            <%= f.submit "Sign up", class: "btn-primary" %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

