<% if user_signed_in? %>
  <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= button_to "Create Room", new_room_path, method: :get %>

  <h2>Join a Room</h2>
  <%= form_tag join_room_path, method: :post do %>
    <div class="field">
      <%= label_tag :code, "Room Code" %>
      <%= text_field_tag :code %>
    </div>

    <div class="field">
      <%= label_tag :password, "Room Password" %>
      <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Join Room", class: "button" %>
  <% end %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
