<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Righteous&display=swap" rel="stylesheet">

<h2 class="title">Scratch Cards</h2>
<style>
  body{
    background-image: url(<%= image_path("background.jpg")%>);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-4 offset-4">
        <div class="card">
          <div class="card-body">
            <h1 class="h3 mb-3 fw-normal text-center fs-2">Please sign in</h1>

            <%= render "devise/shared/error_messages", resource: resource %>
            <% if flash[:alert] %>
              <div class="text-danger">
                <%= flash[:alert] %>
              </div>
            <% end %>


            <div class="form-floating">
              <%= f.email_field :email, class: 'form-control', placeholder: 'your-name@gmail.com' %>
              <%= f.label :email %><br />
            </div>

            <div class="form-floating">
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Password' %>
              <%= f.label :password %><br />
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="checkbox mb-3 text-center">
                <label>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </label>
              </div>
            <% end %>
            <%= f.submit "Sign in", class: "w-100 btn btn-lg btn-primary" %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

